div#card-list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
}

@media (max-width: 969px) {
    div#card-list {
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 656px) {
    div#card-list {
        grid-template-columns: repeat(1, auto);
    }
}